.hero{
    min-height:90vh;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero-overlay{
    min-height:90vh;
    width:100%;
    background:rgba(8,15,35,.65);
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content{
    max-width:900px;
    margin:auto;
    color:#fff;
    padding:20px;
}

.hero-tag{
    display:inline-block;
    background:#ffc107;
    color:#111;
    padding:10px 22px;
    border-radius:50px;
    font-size:15px;
    font-weight:700;
    margin-bottom:25px;
}

.hero h1{
    font-size:64px;
    font-weight:800;
    line-height:1.15;
    margin-bottom:25px;
}

.hero p{
    font-size:20px;
    color:#e5e7eb;
    line-height:1.8;
    margin-bottom:35px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.hero .btn{
    padding:14px 35px;
    min-width:220px;
    border-radius:8px;
    font-weight:700;
    transition:.3s;
}

.hero .btn:hover{
    transform:translateY(-4px);
}

/*==================================
WHY CHOOSE US
==================================*/

.why-section{
    padding:90px 0;
    background:#f8fafc;
}

.section-heading{
    text-align:center;
    max-width:760px;
    margin:auto;
    margin-bottom:60px;
}

.section-heading span{
    color:#fbbf24;
    font-weight:700;
    letter-spacing:2px;
}

.section-heading h2{
    font-size:48px;
    font-weight:800;
    color:#0f172a;
    margin:15px 0;
    line-height:1.2;
}

.section-heading p{
    color:#64748b;
    font-size:18px;
    line-height:1.8;
}

.why-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.why-card{
    background:#fff;
    border-radius:20px;
    padding:35px;
    text-align:center;
    transition:.35s;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.why-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 35px rgba(0,0,0,.12);
}

.why-icon{
    width:80px;
    height:80px;
    margin:auto;
    border-radius:50%;
    background:#fbbf24;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:34px;
    margin-bottom:25px;
}

.why-card h4{
    font-size:24px;
    font-weight:700;
    color:#0f172a;
    margin-bottom:15px;
}

.why-card p{
    color:#64748b;
    line-height:1.8;
}

@media(max-width:992px){

.why-grid{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.section-heading h2{
    font-size:34px;
}

.why-grid{
    grid-template-columns:1fr;
}

}

@media(max-width:768px){

.hero{
    min-height:80vh;
}

.hero-overlay{
    min-height:80vh;
}

.hero h1{
    font-size:38px;
}

.hero p{
    font-size:17px;
}

.hero-buttons{
    flex-direction:column;
    align-items:center;
}

.hero .btn{
    width:100%;
    max-width:260px;
}
}